/* OrderPage.css */
.order-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.order-overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 800px;
    position: relative;
    color: black;
    max-height: fit-content; /* Ensure it fits within the viewport with some margin */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: black;
}

.order-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.order-box {
    flex: auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
    box-sizing: border-box;
}

.order-box h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1em; /* Schriftgröße verkleinert */
}

.form-group {
    margin-bottom: 10px; /* Margin verkleinert */
}

.form-group label {
    width: 100%;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9em; /* Schriftgröße verkleinert */
}

.form-group input {
    width: 100%;
    padding: 6px; /* Padding verkleinert */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em; /* Schriftgröße verkleinert */
}

.confirm-button-container {
    text-align: center;
    margin-top: 10px; /* Margin verkleinert */
}

.confirm-button {
    background: linear-gradient(45deg, #61dafb, #ff6ec4);
    border: none;
    padding: 8px 16px; /* Padding verkleinert */
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 1em; /* Schriftgröße verkleinert */
    transition: background 0.3s;
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 5px; /* Add margin to each button */
}

.confirm-button:hover {
    background: linear-gradient(45deg, #ff6ec4, #61dafb);
}

.order-back-button {
    background: linear-gradient(45deg, #61dafb, #ff6ec4);
    border: none;
    padding: 8px 16px; /* Padding verkleinert */
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 1em; /* Schriftgröße verkleinert */
    transition: background 0.3s;
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 5px; /* Add margin to each button */
}

.order-back-button:hover {
    background: linear-gradient(45deg, #ff6ec4, #61dafb);
}
