.order-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.order-overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 800px;
    position: relative;
    color: black;
    max-height: 80vh; /* Maximalhöhe setzen */
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Scrollbar aktivieren */
    box-sizing: border-box;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: black;
    padding: 20px; /* Increase the clickable area */
}


.order-form {
    display: flex;
    flex-wrap: wrap;
}

.order-box {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 20px; /* Adjust margin for spacing */
    min-width: 250px;
}

.order-box:last-child {
    margin-right: 0; /* Remove margin from the last box */
}

.order-box h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1em;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    width: 100%;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.form-group input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
}

.confirm-button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
    gap: 10px; /* Adds space between grid items */
}

.order-back-button, .confirm-button {
    background: linear-gradient(45deg, #61dafb, #ff6ec4);
    border: none;
    padding: 10px 20px; /* Adjust padding for consistent size */
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    transition: background 0.3s;
    text-align: center; /* Ensure text is centered */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.order-back-button:hover, .confirm-button:hover {
    background: linear-gradient(45deg, #ff6ec4, #61dafb);
}

/* Position the buttons to span one column each */
.order-back-button {
    grid-column: 1; /* Place in the first column */
}

.confirm-button {
    grid-column: 11; /* Place in the second column */
}