.AppHeader {
  background-color: #000000;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-section {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40px;
  margin-right: 10px;
}

.nav-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  margin-right: 170px;
  gap: 10px;
}

.nav-button {
  background: linear-gradient(45deg, #61dafb, #ff6ec4);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.nav-button:hover {
  background: linear-gradient(45deg, #ff6ec4, #61dafb);
}

.cart-section {
  display: flex;
  align-items: center;
}

.cart-button {
  background: linear-gradient(45deg, #61dafb, #ff6ec4);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
  display: flex;
  align-items: center;
}

.cart-button:hover {
  background: linear-gradient(45deg, #ff6ec4, #61dafb);
}

.login-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
}

.login-button {
  background: linear-gradient(45deg, #61dafb, #ff6ec4);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.login-button:hover {
  background: linear-gradient(45deg, #ff6ec4, #61dafb);
}
